<section fxLayoutAlign="flex-end" class="paradise-navbar">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="toggleHome()" mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Paradise Center</span>
    </button>
    <button mat-menu-item>
      <mat-icon>explore</mat-icon>
      <span>Explore</span>
    </button>
    <button mat-menu-item>
      <mat-icon>phone</mat-icon>
      <span>Contact Us</span>
    </button>
  </mat-menu>
</section>
<!-- <mat-checkbox>Check me!</mat-checkbox> -->
