<div class="tour-landing mat-typography">
  <div fxLayout="column" class="tour-landing__text-container">
    <h1 fxLayoutAlign="center">Select a Room</h1>
    <h3 fxLayoutAlign="center">to learn more</h3>
  </div>
  <div class="tour-landing__container" fxLayout fxLayoutAlign="center" fxLayoutGap="15px">
    <div class="item item-1" fxLayoutAlign="flex-end" fxFlex="100%">
      <div class="tour-landing__image-container" style="background-image: url('https://s3.amazonaws.com/pangr-images/DSCN1977-3.jpg');">
        <div class="transbox">
            <h2>Room Name</h2>
          </div>
      </div>
    </div>
  </div>
  <div class="tour-landing__container" fxLayout fxLayoutAlign="center" fxLayoutGap="15px">
    <div class="item item-1" fxLayoutAlign="flex-end" fxFlex="100%">
      <div class="tour-landing__image-container" style="background-image: url('https://s3.amazonaws.com/pangr-images/DSCN1977-3.jpg');">
        <div class="transbox">
            <h2>Room Name</h2>
          </div>
      </div>
    </div>
  </div>
  <div class="tour-landing__container" fxLayout fxLayoutAlign="center" fxLayoutGap="15px">
    <div class="item item-1" fxLayoutAlign="flex-end" fxFlex="100%">
      <div class="tour-landing__image-container" style="background-image: url('https://s3.amazonaws.com/pangr-images/DSCN1977-3.jpg');">
        <div class="transbox">
            <h2>Room Name</h2>
          </div>
      </div>
    </div>
  </div>
  <div class="tour-landing__container" fxLayout fxLayoutAlign="center" fxLayoutGap="15px">
    <div class="item item-1" fxLayoutAlign="flex-end" fxFlex="100%">
      <div class="tour-landing__image-container" style="background-image: url('https://s3.amazonaws.com/pangr-images/DSCN1977-3.jpg');">
        <div class="transbox">
            <h2>Room Name</h2>
          </div>
      </div>
    </div>
  </div>
  <div class="tour-landing__container" fxLayout fxLayoutAlign="center" fxLayoutGap="15px">
    <div class="item item-1" fxLayoutAlign="flex-end" fxFlex="100%">
      <div class="tour-landing__image-container" style="background-image: url('https://s3.amazonaws.com/pangr-images/DSCN1977-3.jpg');">
        <div class="transbox">
            <h2>Room Name</h2>
          </div>
      </div>
    </div>
  </div>

</div>
