.tour-landing {
  &__text-container {
    h1 {
      margin:0px;
    }
  }
  &__container {
    margin-top:10px;
  }

  &__image-container {
    cursor: pointer;
    background-color: white;
    height: 190px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    .transbox {
      background-color: #ffffff;
      opacity: 0.8;
      filter: alpha(opacity=80); /* For IE8 and earlier */
      height: 40px;
      margin-top: 150px;
      padding: 5px;
      text-align: center
    }
  }

}
