<div class="tour-landing mat-typography">
  <div fxLayout="column" class="tour-landing__text-container">
    <h1 fxLayoutAlign="center">Select a Room</h1>
    <h3 fxLayoutAlign="center">prepare to learn your mind off..</h3>
  </div>
  <div class="tour-landing__container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <div class="item item-1" fxLayoutAlign="flex-end" fxFlex="50%">
      <div class="tour-landing__image-container">

      </div>
    </div>
    <div class="item item-2" fxLayoutAlign="flex-start" fxFlex="50%">
      <div class="tour-landing__image-container">

      </div>
    </div>
  </div>
  <div class="tour-landing__container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <div class="item item-1" fxLayoutAlign="flex-end" fxFlex="50%">
      <div class="tour-landing__image-container">

      </div>
    </div>
    <div class="item item-2" fxLayoutAlign="flex-start" fxFlex="50%">
      <div class="tour-landing__image-container">

      </div>
    </div>
  </div>
  <div class="tour-landing__container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <div class="item item-1" fxLayoutAlign="flex-end" fxFlex="50%">
      <div class="tour-landing__image-container">

      </div>
    </div>
    <div class="item item-2" fxLayoutAlign="flex-start" fxFlex="50%">
      <div class="tour-landing__image-container">

      </div>
    </div>
  </div>
  <div class="tour-landing__container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <div class="item item-1" fxLayoutAlign="flex-end" fxFlex="50%">
      <div class="tour-landing__image-container">

      </div>
    </div>
    <div class="item item-2" fxLayoutAlign="flex-start" fxFlex="50%">
      <div class="tour-landing__image-container">

      </div>
    </div>
  </div>
  <div class="tour-landing__container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <div class="item item-1" fxLayoutAlign="flex-end" fxFlex="50%">
      <div class="tour-landing__image-container">

      </div>
    </div>
    <div class="item item-2" fxLayoutAlign="flex-start" fxFlex="50%">
      <div class="tour-landing__image-container">

      </div>
    </div>
  </div>
  <div class="tour-landing__container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <div class="item item-1" fxLayoutAlign="flex-end" fxFlex="50%">
      <div class="tour-landing__image-container">

      </div>
    </div>
    <div class="item item-2" fxLayoutAlign="flex-start" fxFlex="50%">
      <div class="tour-landing__image-container">

      </div>
    </div>
  </div>

</div>
