<div class="paradise-center mat-typography">
  <div class="" fxLayout fxLayoutAlign="end">
    <div class="item item-1">
      <nav-bar (home)='toggleHomePage()'></nav-bar>
    </div>
  </div>

  <div class="paradise-center__body-container">
    <div *ngIf="!tourLanding" class="" fxLayoutAlign="center">
      <div class="item item-1">
        <landing-body (tour)='toggleTourLanding()'></landing-body>
      </div>
    </div>

    <div *ngIf="tourLanding" class="">
      <tour-landing></tour-landing>
    </div>
  </div>
</div>
