<div class="paradise-center">
  <div class="" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap.xs="0">
    <div class="item item-1">
      <nav-bar (home)='toggleHomePage()'></nav-bar>
    </div>
  </div>

  <div *ngIf="!tourLanding" class="" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap.xs="0">
    <div class="item item-1">
      <landing-body (tour)='toggleTourLanding()'></landing-body>
    </div>
  </div>
</div>

<div *ngIf="tourLanding" class="">
  <tour-landing></tour-landing>
  ksdjhfkaj
</div>
